//media queries here

@media screen and (min-width: 700px) and (max-width: 999px) {
	.logo, nav ul, h1, h2, h3, p, button, form, .divider {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.project {
		margin-left: 10vw;
		margin-right: 25vw;
	}

	p img {
		width: calc(100% + 20px);
		margin-left: -10px;
	}

	.project img {
		float: left;
		height: 6.5em;
		width: auto;
		margin-left: 0;
		margin-right: 25px;
	}
}

@media screen and (min-width: 1000px) {
	h1, h2, h3, p, button, form, .divider {
		margin-left: 23vw;
		margin-right: 23vw;
	}

	.project {
		margin-left: 23vw;
		margin-right: 30vw;
	}

	h1 {
		padding-top: 20px;
	}

	p img {
		width: calc(100% + 20px);
		margin-left: -10px;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 185px;
		height: 100vh;
		border-bottom: none;
		border-right: 1px solid $lightGrey;

		ul li {
			display: block;
			padding-bottom: 5px;
		}

		.logo {
			padding-bottom: 10px;
		}

		.logo, nav ul {
			margin-left: 20px;
		}

		.social {
			padding-top: 10px;
		}
	}

	.project img {
		float: left;
		height: 6.5em;
		width: auto;
		margin-left: 0;
		margin-right: 25px;
	}

	footer {
		width: auto;
		margin-left: 185px;
		margin-right: 0;

		p {
			margin-left: calc(23vw - 185px);
		}
	}
}

@media screen and (min-width: 1600px) {
	h1, h2, h3, p, button, .project, form, .divider {
		margin-left: 30vw;
		margin-right: 30vw;
	}

	.project {
		margin-right: 35vw;
	}

	footer p {
		margin-left: calc(30vw - 185px);
	}
}

@media screen and (min-width: 2400px) {
	h1, h2, h3, p, button, .project, form, .divider {
		margin-left: 32vw;
		margin-right: 32vw;
	}

	.project {
		margin-right: 37vw;
	}

	footer p {
		margin-left: calc(32vw - 185px);
	}
}

@media screen and (min-width: 3500px) {
	h1, h2, h3, p, button, .project, form, .divider {
		margin-right: 37vw;
		margin-left: 37vw;
	}

	.project {
		margin-right: 43vw;
	}

	footer p {
		margin-left: calc(37vw - 185px);
	}
}