//media queries here

@media screen and (min-width: 700px) and (max-width: 999px) {
	.logo, nav ul, h1, h2, p, button {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	p img {
		width: calc(100% + 20px);
		margin-left: -10px;
	}
}

@media screen and (min-width: 1000px) {
	h1, h2, p, button {
		margin-left: 23vw;
		margin-right: 23vw;
	}

	h1 {
		padding-top: 40px;
	}

	p img {
		width: calc(100% + 20px);
		margin-left: -10px;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 185px;
		height: 100vh;
		border-bottom: none;
		border-right: 1px solid $lightGrey;

		ul li {
			display: block;
			padding-bottom: 5px;
		}

		.logo {
			padding-bottom: 10px;
		}

		.logo, nav ul {
			margin-left: 20px;
		}

		.social {
			padding-top: 10px;
		}
	}
}

@media screen and (min-width: 1600px) {
	h1, h2, p, button {
		margin-left: 30vw;
		margin-right: 30vw;
	}
}

@media screen and (min-width: 2400px) {
	h1, h2, p, button {
		margin-left: 32vw;
		margin-right: 32vw;
	}
}

@media screen and (min-width: 3500px) {
	h1, h2, p, button {
		margin-right: 37vw;
		margin-left: 37vw;
	}
}