//media queries here

@media screen and (min-width: 600px) {
	.project img {
		float: left;
		height: 7em;
		width: auto;
		margin-left: 0;
		margin-right: 25px;
	}
}

@media screen and (min-width: 700px) {
	nav ul, h1, h2, h3, p, .project, form, .divider {
		margin-left: auto;
		margin-right: auto;
	}

	.codepenContainer {
		margin: 0 auto 45px auto;
	}
}

@media screen and (min-width: 1410px) {
	.codepenContainer {
		max-width: 1024px;
	}
}

@media screen and (min-width: 1127px) {
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 185px;
		height: 100vh;

		ul {
			text-align: left;
			margin-left: 20px;
		}

		ul li {
			display: block;
			padding-bottom: 5px;
		}

		.logo {
			padding-bottom: 10px;
		}

		.logo, nav ul {
			margin-left: 20px;
		}

		.social {
			padding-top: 10px;
		}
	}

	header {
		margin-top: 30px;
	}
}