//colors
$blue: #27A9D3;
$darkBlue: #0B6886;
$white: #f8f8f8;
$black: #333333;
$grey: #999999;
$lightGrey: gainsboro;
$red: fireBrick;

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto');

//styles

body {
	background-color: $white;
}

a {
	color: $blue;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 0.05em;

	transition: all 0.1s ease;

	&:hover {
		color: $darkBlue;
	}
}

//styling for nav and everything in it

.logo {
	margin-left: 20px;
	width: 50px;
}

.logo svg {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.logo svg polygon {
	stroke: $white;
	transition: all 0.3s ease;
}

.logo svg:hover polygon {
	stroke: $blue;
	cursor: pointer;
}

nav {
	width: 100vw;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: $black;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

nav ul li {
	display: inline-block;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 1em;
}

nav a {
	color: $white;

	&:hover {
		color: $blue;
	}
}

nav .social {
	font-size: 0.8em;
	margin-top: 10px;
	padding-bottom: 10px;
}

//header 

.contact {
	border-bottom: 1px solid $darkBlue;
}

//general content styling

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 700;
	color: $black;
	letter-spacing: 0.05em;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: $black;
	letter-spacing: 0.05em;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.4em;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	color: $black;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color: $black;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.4em;
}

p img {
	width: 100vw;
	height: auto;
	margin-left: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

//buttons

button {
	background-color: transparent;
	border: 2px solid $darkBlue;
	padding: 8px 16px 8px 16px;
	margin-left: 20px;
	outline: none;
	cursor: pointer;
	transition: all 0.1s ease; 

	& a {
		color: $darkBlue;
		font-size: 0.8em;
	}
}

button:hover {	
	background-color: $darkBlue;
	border: 2px solid $darkBlue;

	& a {
		color: $white;
	}
}

//specific styling for projects content, also used for services

.projects {

	h2 {
		margin-top: 5px;
	}

	h2, p {
		margin-bottom: 5px;
	}

	p {
		margin-top: 0;
	}

	button {
		margin-top: 5px;
	}
}

.project {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 60px;
	padding-bottom: 20px;

	h2, p, button {
		margin-left: 0;
		margin-right: 0;
	}
}

.project img {
	width: 100vw;
	height: auto;
	margin-left: -20px;
}

//form styling

form {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	color: $black;

	input, textarea {
		margin-bottom: 10px;
		margin-top: 3px;
		width: 75vw;
		background-color: $white;
		outline: none;
		border: 1px solid $lightGrey;
		border-radius: none;
	}

	input {
		max-width: 300px;
	}

	textarea {
		height: 75px;
		max-width: 400px;
	}

	input[type=submit] {
		width: 75px;
		color: $darkBlue;
		background-color: transparent;
		border: 2px solid $darkBlue;
		outline: none;
		transition: all 0.1s ease;
		padding: 4px 0 4px 0;
		cursor: pointer;

		&:hover {
			color: $white;
			background-color: $darkBlue;
			width: 85px;
		}
	}

	span {
		color: $red;
	}
}

//footer styling

footer {
	width: 100vw;
	margin-bottom: -15px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 1px solid $lightGrey;
}

//divider

.divider {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 2px;
	background-color: $lightGrey;
}

//codepen embeds

.codepenContainer {
	width: 100vw;
	margin-bottom: 45px;
}

//imports
@import 'mediaQueries';

