@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto");
body {
  background-color: #f8f8f8; }

.logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 50px; }

.logo svg {
  width: 50px;
  height: 50px;
  cursor: pointer; }

.logo svg polygon {
  stroke: #333333;
  transition: all 0.3s ease; }

.logo svg:hover polygon {
  stroke: #27A9D3;
  cursor: pointer; }

a {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.05em;
  transition: all 0.1s ease; }
  a:hover {
    color: #27A9D3; }

nav {
  width: 100vw;
  background-color: #f8f8f8;
  border-bottom: 1px solid gainsboro; }

nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 10px; }

nav ul li {
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 1em; }

nav .social {
  font-size: 0.8em;
  margin-top: 10px;
  padding-bottom: 10px; }

header {
  padding-bottom: 30px; }

.contact {
  border-bottom: 2px solid gainsboro;
  transition: all 0.1s ease; }
  .contact:hover {
    border-bottom: 2px solid #999999; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0.05em;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #333333;
  letter-spacing: 0.05em;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.4em; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: #333333;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.4em; }

button {
  background-color: transparent;
  border: 2px solid #333333;
  padding: 8px 16px 8px 16px;
  margin-left: 20px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease; }
  button a {
    color: #333333;
    font-size: 0.8em; }

button:hover {
  background-color: #333333; }
  button:hover a {
    color: #f8f8f8; }

p img {
  width: 100vw;
  height: auto;
  margin-left: -20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.projects {
  padding-bottom: 30px; }

.projects h2 {
  margin-bottom: 0;
  margin-top: 0; }

.projects p {
  margin-top: 0; }

footer {
  width: 100vw;
  margin-bottom: -15px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top: 1px solid gainsboro; }

@media screen and (min-width: 700px) and (max-width: 999px) {
  .logo, nav ul, h1, h2, p, button {
    margin-left: 10vw;
    margin-right: 10vw; }

  p img {
    width: calc(100% + 20px);
    margin-left: -10px; } }
@media screen and (min-width: 1000px) {
  h1, h2, p, button {
    margin-left: 23vw;
    margin-right: 23vw; }

  h1 {
    padding-top: 40px; }

  p img {
    width: calc(100% + 20px);
    margin-left: -10px; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 185px;
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid gainsboro; }
    nav ul li {
      display: block;
      padding-bottom: 5px; }
    nav .logo {
      padding-bottom: 10px; }
    nav .logo, nav nav ul {
      margin-left: 20px; }
    nav .social {
      padding-top: 10px; } }
@media screen and (min-width: 1600px) {
  h1, h2, p, button {
    margin-left: 30vw;
    margin-right: 30vw; } }
@media screen and (min-width: 2400px) {
  h1, h2, p, button {
    margin-left: 32vw;
    margin-right: 32vw; } }
@media screen and (min-width: 3500px) {
  h1, h2, p, button {
    margin-right: 37vw;
    margin-left: 37vw; } }

/*# sourceMappingURL=styles.css.map */
