//colors
$blue: #27A9D3;
$white: #f8f8f8;
$black: #333333;

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto');

//styles

* {
	box-sizing: border-box;
}

body {
	background-color: $white;
}

a {
	color: $black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 1em;
	letter-spacing: 0.05em;

	transition: all 0.3s ease;

	&:hover {
		color: $blue;
	}
}

nav {
	position: fixed;
	float: left;
	width: 250px;
	height: 100%;
	top: 0;
	left: -210px;
	background-color: $white;
	box-shadow: 2px 0 5px rgba(0,0,0,0.3);

	transition: all 0.5s ease;

	&:hover {
		left: 0;
	}
}

nav ul {
	list-style-type: none;
}

nav ul li {
	padding-top: 1em;
}

.logo {
	width: 100vw;
	padding-bottom: 10px;
	background-color: $black;
	padding-left: 60px;
	padding-top: 10px;

	& svg {
		width: 50px;
		height: 50px;
		cursor: pointer;
	}
}

.logo svg:hover polygon {
	stroke: $blue;
	cursor: pointer;
}

nav .menuButton {
	height:18px;
	width: 25px;
	float: right;
	margin-right: 2px;
	position: relative;
	top: -210px;
	font-family: monospace;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 10px;

	transition: all 0.5s ease;

	&:hover {
		opacity: 0;
	}
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	color: $black;
	letter-spacing: 0.05em;
	margin-left: 60px;
	margin-right: 20px;
	padding-top: 10px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: $black;
	margin-left: 60px;
	margin-right: 20px;
	line-height: 1.2em;

	& img {
		width: calc(100% + 40px);
		height: auto;
		margin-left: -20px;
	}
}

//imports
@import 'mediaQueries';

